body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.movie-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.movie-card{
    margin: 5px;
    width: 200px;
}

.details-card{
    margin: auto;
}

.login-page{
    width: 800px;
    margin: auto;
}

.register-page{
    width: 800px;
    margin: auto;
}

.edit-page{
    width: 800px;
    margin: auto;
}

.foot{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    
}